/* .header{
    background-color: #1E212C;
    max-width: 1920px;
    height: 44px;
} */
*{
font-family: 'Lato', sans-serif;
}

.container{
    background-color: #1E212C;
    min-height: 44px;
    max-width: 1920px;
}
.header-inf{
    color: white;
    max-width: 1200px;
    margin:0 auto;
    font-weight: 400px;
    font-size: 14px;
    line-height: 150%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:11px 0px;
}

.spisok, .li {
    display: inline-block;
    margin:0;
    padding: 0;
    cursor: pointer;
}
.li:not(:last-child){
    margin-right: 32px;
}

@media(max-width:1200px){
    .header-inf{
        max-width: 970px;;
    }
}
@media(max-width:992px){
    .li{
        display: block;
    }
}
.container-2{
    background-color: white;
    min-height: 84px;
    max-width: 1920px;
}
.header-inf-2{
    max-width: 1200px;
    margin:0 auto;
    padding: 30px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: #424551;
}
.group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 45%;
}

.spisok-2, .li-2{
    display: inline-block;
    margin:0;
    padding: 0;
}
.li-2{
    margin-left: 40px;
    cursor: pointer;
}
.input{
    width: 380px;
    height: 44px;
    right: 524px;
    top: calc(50% - 44px/2 + 22px);
    border: 1px solid #D7DADD;
    border-radius: 4px;
}
.border{
    display: inline-block;
    margin:0;
    width: 10px;
    height: 0px;
    background-color: rgba(218, 219, 221, 0);
}
@media(max-width:1200px){
    .header-inf-2{
        max-width: 970px;;
    }
}
.container-3{
    max-width: 1920px;
    height: 34px;
    background-color:#17696A;
    text-align: center;
    font-weight: 900;
    font-size: 12px;
    line-height: 150%;
    color: #FFFFFF;
    padding-top: 15px;
}
.section-1{
    background-image: url('/Практика2/img2/image\ \(2\).png');
    background-position: center;
    /* background-size: contain;
    background-repeat: no-repeat; */
    height: 800px;
    max-width: 1920px;
    border-radius: 0px;
    position: relative;

}
.container-4{
    max-width: 1200px;
    margin:0 auto;
}
.btn-1{
    max-width: 150px;
    height: 70px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 52px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #17696A;
    background-color: transparent;
    border-radius: 4px;
    padding:5px 30px;
    cursor: pointer;
}
.btn-2{
    max-width: 300px;
    height: 70px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 52px;
    text-align: center;
    letter-spacing: 0.5px;
    color: white;
    background-color: #17696A;
    border-radius: 4px;
    padding:5px 30px;
    cursor: pointer;
}
.change{
    padding-top: 130px;
    max-width: 550px;
    margin:0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    color:rgba(66, 69, 81, 0.753);
    cursor: pointer;

}
.block-4{
    width: 24%;
    border-bottom: 2px solid #4245517e;
    padding-bottom: 7px;
}
.img-sect{
    max-width: 1200px;
    margin:0 auto;

}
.img-sect-2{
    display: inline-block;
    position: relative;
    top:-70px;
    cursor: pointer;
}
.text{
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: #424551;
}